<%- include('../../partials/head.ejs') %>

<link rel='stylesheet' href='/stylesheets/list.css'>
<link rel='stylesheet' href='/stylesheets/shared.css'>
<meta name='csrf-token' content='<%= csrfToken %>'>

</head>

    <body>
        <%- include('../../partials/navigation.ejs') %>
        <main>

            <Section class='list-section box'>
                <p class='list-title section-title'><%= listTitle %></p>
                <input class='hidden' id='listId' name='listId' value='<%= listId %>'></input>

                <ul class='to-do-list' name='to_do_list' id='to_do_list'>
                    <% if (list.length > 0 ) { %>
                        <% list.forEach(task=> { %>
                            <li class='task-row'>
                                <p  id='task-body<%=task.id%>' class='<%= task.complete ? 'strikethrough' : '' %>'><%= task.taskBody %></p>

                                <div>
                                    <input <% if(task.complete) { %> checked <% } %> type='checkbox'  name='complete-checkbox' onchange='markComplete(this)'>Complete</input>
                                    <input class='hidden' value='<%= task.id %>'>
                                </div>
                    
                                <div>
                                    <form action='/delete' method="post">
                                        <button type='submit' class='button' name='delete'>Delete</button>
                                        <input class='hidden' name='taskId' value='<%= task.id %>'>
                                        <input class='hidden' name='listId' value='<%= listId %>'>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    </form>
                                    <!-- <button class='button' name='delete' onclick='deleteTask(this)'>Delete</button>
                                    <input class='hidden' value='<%= task.id %>'> -->
                                </div>
                                
                
                            </li>
                        <% }) %>
                    <% } %>
                </ul>
            </Section>

            <!--Add a new task to the list of incomplete tasks-->
            <!-- <button class='new-task__button button' name='add_task' id='add_task' onclick='addNewTask()'>Add</button>
            <input class='new_task__input' type='text' name='new_task' id='new_task' placeholder='New Task'> -->

            <form action='/addTask' method="post">
                <button type='submit'>Add Item</button>
                <input class='new_task__input' type='text' name='new_task' id='new_task' placeholder='New Task'>
                <input type='hidden' name='listId' value='<%= listId %>'>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            </form>
        
        </main>
        

    </body>
    <script src='/scripts/listScripts.js' defer></script>
    <script src='/scripts/shared.js' defer></script>

    </html>